<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">



    <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
        
    <link href="{{ SITEURL }}/theme/css/sinestudio.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/timeline.css" rel="stylesheet">

    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_ALL_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% if FEED_ATOM %}
        <link href="{{ FEED_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% if FEED_RSS %}
        <link href="{{ FEED_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_ALL_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
    {% endif %}
    {% if GOOGLE_ANALYTICS %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{GOOGLE_ANALYTICS}}');
    </script>
    {% endif %}

</head>

<body>

<nav class="navbar navbar-inverse navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse" aria-expanded="false" style="height:1px;">
        <ul class="nav navbar-nav">
        {% for title, link in MENUITEMS %}
            <li><a href="/categories/{{ link }}">{{ title }}</a></li>
        {% endfor %}
        </ul>
        <p class="navbar-text navbar-right">{{SLOGAN}}</p>
    </div>
  </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
        {% block content %}{% endblock %}
    </div> {# End row #}
</div>

<div class="footer">
  <p><a rel="license" href="//creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/theme/images/icons/cc-by-nc-nd-40-80x15.png" /></a>
    <a href="/{{ FEED_ALL_ATOM }}"><img src="/theme/images/icons/rss.png"/></a>
  </p>
  <p>&copy; 2011-2021 <a href="//yanjiong.wang">王延炯博士</a>
    {% for social, link in SOCIAL %}
      <a href="{{link}}"><img src="/theme/images/icons/{{social|lower()}}.png"/></a>
    {% endfor %}
    {% for site, link in LINKS %}
       · <a href="{{link}}">{{site}}</a>
    {% endfor %}
  </p>
  <p>
    {% if DISPLAY_PAGES_ON_MENU %}
      {% for page in PAGES %}
          {% if loop.first %}
          <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
          {% else %}
          | <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
          {% endif %}
      {% endfor %}
    {% endif %}
  </p>
  <p class="powered-by">POWERED BY <a href="//getpelican.com">Pelican</a> & <a href="//github.com/sinewang/pelican-beapow">beapow</a></p>
</div>


<script src="//cdn.bootcss.com/jquery/1.12.1/jquery.js"></script>
<script src="{{ SITEURL }}/theme/css/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
