{% extends "includes/base93.html" %}
{% block title %}{{ SITENAME }} <small>[archive]</small>{% endblock %}
{% block content %}
<h1 style="text-align:center;">文章</h1>
<hr>
{% if dates %}
  {% for article in dates %}

    <ul class="timeline">
      <li class="{{ loop.cycle('timeline', 'timeline-inverted') }}">
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-pencil"></i></div>
          <div class="timeline-panel" onclick="location.href='{{ SITEURL }}/{{ article.url }}'">
          <div class="timeline-heading">
            <span class="timeline-title">{{ article.title }}</span>
          </div>
          <div class="timeline-body">
            <p>{{ article.summary }}</p>
          </div>
          <div class="timeline-footer">
            <p class="glyphicon">{{ article.date.strftime("%Y-%m-%d") }}</p>
          </div>
        </div>
      </li>
    </ul>

  {% endfor %} {# For article #}
{% endif %} {# If dates #}

{% endblock %}
