{% extends "includes/base93.html" %}
{% block title %}
{{ article.title|striptags|e }} {%if article.subtitle %} - {{ article.subtitle|striptags|e }} {% endif %} @ {{ super() }}
{% endblock title %}

{% block content %}
    <div class='article'>
        <div class="article-title">
            <h1>{{ article.title }}</h1>
        </div>
        <div class="article-metadata">
          {% include 'includes/article-metadata.html' %}
        </div>


        <div class="article-content beapow-article">{{ article.content }}</div>
    </div>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
{% if article.toc %}
    <h2>目录</h2>
    {{article.toc}}
{% endif %}
</div>

{% endblock %}
