{% extends "includes/base-full.html" %}


{% block title %}
  {% for name, slug in MENUITEMS %}
    {% if category | string() == slug | string() %}
        {{name}} @ {{ super() }}
    {% endif %}
  {% endfor %}
{% endblock title %}

{% block content %}
  {% for name, slug in MENUITEMS %}
    {% if category | string() == slug | string() %}
<h1 style="text-align:center;">{{name}}</h1>
    {% endif %}
  {% endfor %}




<hr>
{% if articles %}
<ul class="timeline">
    {% for article in articles %}
      <li class="{{ loop.cycle('timeline', 'timeline-inverted') }}">
        {% include 'includes/article-timeline.html' %}
      </li>
    {% endfor %} {# For article #}
    <li class="clearfix no-float"></li>
</ul>
{% endif %}

{% endblock %}
