<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href="{{ SITEURL }}/theme/sinestudio.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/carousel.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/moments.css" rel="stylesheet">

    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_ALL_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% if FEED_ATOM %}
        <link href="{{ FEED_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% if FEED_RSS %}
        <link href="{{ FEED_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_ALL_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
    {% endif %}

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse" aria-expanded="false" style="height:1px;">
        <ul class="nav navbar-nav">
        {% for title, link in MENUITEMS %}
            <li><a href="/categories/{{ link }}">{{ title }}</a></li>
        {% endfor %}

        {% if DISPLAY_PAGES_ON_MENU %}
        {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% endif %}
        </ul>
        <p class="navbar-text navbar-right">{{SLOGAN}}</p>
    </div>
  </div>
</nav>



  <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for name, link in MENUITEMS %}
            {% if loop.index == 1 %}
              <li data-target="#homeCarousel" data-slide-to="{{loop.index - 1}}" class="active"></li>
            {% else %}
              <li data-target="#homeCarousel" data-slide-to="{{loop.index - 1}}"></li>
            {% endif %}
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for name, link in MENUITEMS %}
            {% if loop.first %}
        <div class="item active" onclick="location.href='/categories/{{ link }}'">
            {% else %}
        <div class="item" onclick="location.href='/categories/{{ link }}'">
            {% endif %}
            <img src="/images/carousel/{{link}}.png" class="slide-img">
            <div class="container">
              <div class="carousel-caption">
                <p>
                  <span class="pull-left">{{ name }}</span>
                </p>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

<div class="container">
  <div class="moments">
    <div class="line text-muted"></div>
    {% if articles %}
      {% for article in articles_page.object_list %}
        <div class="separator text-muted">
          {% set day = article.date.strftime('%d')|int %}
          <time>{{ article.date.strftime("%Y-%m-%d") }}</time>
        </div>
        <article class="panel panel-default">
            <div class="panel-heading icon">
                {% if article.category|string() == "ideas" %}
                <i class="glyphicon glyphicon-flag"></i>
                {% elif article.category|string() == "moments" %}
                <i class="glyphicon glyphicon-flash"></i>
                {% elif article.category|string() == "practices" %}
                <i class="glyphicon glyphicon-wrench"></i>
                {% elif article.category|string() == "photos" %}
                <i class="glyphicon glyphicon-camera"></i>
                {% endif %}
            </div>
              <div class="panel-heading">
                  <span class="panel-title"><a href="/{{article.url}}">{{ article.title}}</a></span>
                  <span class="glyphicon glyphicon-book"></span>
                  {% for name, slug in MENUITEMS %}
                    {% if article.category | string() == slug | string() %}
                  <span><a href="/{{ article.category.url }}">{{ name }}</a></span>
                    {% endif %}
                  {% endfor %}
              </div>
              <div class="panel-body"  onclick="location.href='/{{article.url}}'" style="cursor:pointer;">
                  {% if article.category|string() == "photos" %}
                    {% set day = article.date.strftime('%d')|int %}
                    <p>
                      <img class="img-responsive img-rounded" src="/images/{{article.date.strftime("%Y/%m-%d")}}/{{article.slug}}.png" />
                    </p>
                  {% endif %}
                  <p>
                  {{ article.summary }}
                  </p>
              </div>
            {%if article.tags %}
              <div class="panel-footer">
                    <ul class="list-of-tags tags-in-article">
                        {% for tag in article.tags|sort %}
                        <li><a href="{{ SITEURL }}/tags/{{ tag.slug }}">{{ tag }}
                            {% for aTag, tagged_articles in tags if aTag == tag %}
                              <sup>{{ tagged_articles|count }}</sup></a>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
              </div>
            {% endif %}
        </article>
      {% endfor %}
    {% endif %}

    <article class="panel panel-default panel-outline">
        <div class="panel-heading icon">
            <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <div class="panel-body">
            <i>以上是最新的{{DEFAULT_PAGINATION}}次更新</i>
        </div>
    </article>

  </div>
</div>

<div class="footer">
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/theme/images/icons/cc-by-nc-nd-40-80x15.png" /></a>
    <a href="/{{ FEED_ALL_ATOM }}"><img src="/theme/images/icons/rss.png"/></a></p>
  <p>&copy; 2011-2016 <a href="//yanjiong.wang">王延炯博士</a>
    {% for social, link in SOCIAL %}
      <a href="{{link}}"><img src="/theme/images/icons/{{social|lower()}}.png"/></a>
    {% endfor %}
  </p>
  <p>Powered By <a href="//getpelican.com">Pelican</a> & <a href="https://github.com/sinewang/pelican-beapow">beapow</a></p>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
